.custom-radio .radio {
    -fx-shape: "";
    -fx-min-width: 0;
    -fx-min-height: 0;
    -fx-pref-width: 0;
    -fx-pref-height: 0;
    -fx-max-width: 0;
    -fx-max-height: 0;
}

.custom-radio {
    -fx-padding: 3 3 3 3;
    -fx-graphic-text-gap: 0;
}
.custom-radio:selected {
    -fx-background-color: lightblue;
    -fx-border-color: blue; /* Outline color when selected */
    -fx-border-width: 2; /* Outline thickness */
    -fx-border-radius: 5; /* Rounded corners for outline */
    /*-fx-padding: 5; !* Optional: Inner padding *!*/
}

.custom-radio:hover {
    -fx-background-color: lightgray; /* Optional: Hover effect */
    -fx-border-width: 2;
    -fx-border-radius: 5;

}

.grid-row-label {
    -fx-font-weight: normal;
    -fx-background-color: white;
}

.grid-header {
    -fx-font-weight: bold;
    -fx-background-color: white;
}

.grid-value {
    -fx-background-color: white;
}

.gridNumber {
    -fx-text-alignment: right;
}
.tooltip {
    -fx-background-color: white;
    -fx-text-fill: black;
    -fx-background-radius: 6;
    -fx-padding: 6;
    -fx-font-weight: normal;
}
.clear-button {
    -fx-background-color: transparent;
    -fx-padding: 0;
    -fx-cursor: hand;
}

.clear-button:hover {
    -fx-background-color: lightgray; /* Optional: Hover effect */
    /*-fx-text-fill: lightgray;*/
    -fx-border-width: 2;
    -fx-border-radius: 5;

}

.delete-button {
    -fx-background-color: red;
    -fx-padding: 2;
    -fx-cursor: hand;
    -fx-background-radius: 4;
}

.delete-button:hover {
    -fx-background-color: darkred;
}

.dupCallsign {
    -fx-text-fill: red;
}
.dupCallsignMore {
    -fx-text-fill: red;
    -fx-font-style: italic;
}
.dipCallsign{
    -fx-text-fill: red;
    -fx-font-weight: bold;
}

.callSignOk{
    -fx-text-fill: green;
    -fx-font-weight: bold;
}

.section-match {
    -fx-background-color: yellow;
    -fx-border-color: orange;
    -fx-border-width: 1;
    -fx-border-radius: 2;
}

.qso-submit-highlight {
    -fx-control-inner-background: #e0ffe0; /* Light green for text fields */
    -fx-background-color: #e0ffe0;
    -fx-border-color: green;
    -fx-border-width: 1;
    -fx-background-radius: 5;
    -fx-border-radius: 5;
    -fx-padding: 5;
}
.discardButton{

}
.json-pretty-print {
    -fx-font-family: "monospace";
}

.contest-before {
    -fx-text-fill: blue;
    -fx-font-weight: bold;
}

.contest-during {
    -fx-text-fill: green;
    -fx-font-weight: bold;
}

.contest-after {
    -fx-text-fill: red;
    -fx-font-weight: bold;
}


.happy {
    -fx-text-fill: green;
    -fx-font-weight: bold;
}

.sad {
    -fx-text-fill: red;
}

.duplicate-qso{
    -fx-text-fill: red;
    -fx-font-weight: bold;
}
.addQsoOk{
    -fx-text-fill: green;
    -fx-font-weight: bold;
}
.dup-label {
    -fx-text-fill: red;
    -fx-font-weight: bold;
}
.dup-callsign {
    -fx-text-fill: red;
}

.sections-panel-disabled {
    -fx-opacity: 0.6;
}

.section-disabled {
    -fx-text-fill: gray;
    -fx-cursor: default;
}

.local-node-column {
    -fx-background-color: lightblue;
}

.fresh{
    -fx-background-color: lightgreen;
}
.recent{
    -fx-background-color: lightblue;
}
.stale{
    -fx-background-color: red;
}

.grid-value.ourNode{
    -fx-background-color: #90eee6;
    -fx-text-fill: darkred;
    -fx-font-style: italic;
    -fx-font-weight: bold;
    -fx-font-family: "helvetica";
}

.countGood{
    -fx-background-color: lightgreen;
}
.countOff{
    -fx-background-color: orange;
}
.countBad{
    -fx-background-color: red;
}

.status-ok {
    -fx-text-fill: green;
    -fx-font-weight: bold;
}

.status-needs-work {
    -fx-text-fill: red;
    -fx-font-weight: bold;
}

.parenthetic {
    -fx-text-fill: gray;
    -fx-font-style: italic;
}